@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: $secondary-background;
  color: $header-font-color;
  border-radius: 16px;
  box-shadow: $header-box-shadow;
  flex-wrap: wrap;

  .logo {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;

    .material-icons {
      position: absolute;
      left: 10px;
      font-size: 1.5rem;
      color: $font-light-color;
    }

    input {
      padding: 1rem 1rem 1rem 3rem;
      border: $main-border;
      border-radius: 12px;
    }
  }

}
