@import "variables";

.main-container {
  display: flex;
  flex-direction: column;
  gap:2rem;
}

.back-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  color: $font-dark-color;
  gap: 1rem;
  cursor: pointer;
  align-items: center;

  .material-icons {
    font-size: 1rem;
  }

}



.main-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  width: 100%;


  .card {
    box-shadow: $box-shadow;
    width: fit-content;
    border-radius: 16px;
    position: relative; // Add this to create a stacking context

    .details-header {
      background-color: #6468bc;
      background-image: linear-gradient(30deg, #141415 12%, transparent 12.5%, transparent 87%, #141415 87.5%, #141415),
      linear-gradient(150deg, #141415 12%, transparent 12.5%, transparent 87%, #141415 87.5%, #141415),
      linear-gradient(30deg, #141415 12%, transparent 12.5%, transparent 87%, #141415 87.5%, #141415),
      linear-gradient(150deg, #141415 12%, transparent 12.5%, transparent 87%, #141415 87.5%, #141415),
      linear-gradient(60deg, #14141577 25%, transparent 25.5%, transparent 75%, #14141577 75%, #14141577),
      linear-gradient(60deg, #14141577 25%, transparent 25.5%, transparent 75%, #14141577 75%, #14141577);
      background-size: 46px 81px;
      background-position: 0 0, 0 0, 23px 40px, 23px 40px, 0 0, 23px 40px;
      padding: 2rem;
      border-radius: 12px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-bottom: -1rem;
      z-index: 2; // Adjust z-index as needed
      position: relative; // Add this

      img {
        border-radius: 50%;
        border: 0.3rem solid rebeccapurple;
      }
    }

    .text-details-container {
      background: rebeccapurple;
      color: #fff;
      padding: 2rem 10rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-radius: 12px;
      z-index: 1; // Ensure this is lower than the header
      position: relative; // Add this

      .name-container {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
      }

      .email-container {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        a{
          color: #fff;

        }
        a:hover{
          color: $font-light-color;
        }

      }
    }
  }
}

