<div class="main-container">
  <div class="back-container">
    <span class="material-icons">arrow_back</span>
    <a (click)="navigateBack()" class="back-button">Back to list</a>
  </div>

  <div class="main-card-container">
    <div class="card">
      <div class="details-header">
        <img [src]="user?.avatar" alt="{{user?.first_name}}" class="avatar"/>

      </div>
      <div class="text-details-container">
        <div class="name-container">
          <span class="label">Name: </span>
          <div class="details-name">{{ user?.first_name }} {{ user?.last_name }}</div>
          <span class="details-initials"> , {{ user?.first_name + ' ' + user?.last_name|initialsPipe }}</span>
        </div>
        <div class="email-container">
          <span class="label">Email:</span>
          <a [href]="'mailto:'+ user?.email">{{ user?.email }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
