$primary-background: #D3D5D9;
$secondary-background: #FFFFFF;
$box-shadow:0px 1px 1px rgba(220, 220, 220, 0.7);
$header-font-color:#4468B0;
$gradient-white:#F5F4F4;
$gradient-btn: linear-gradient(180deg, $primary-background 48.44%, $gradient-white 100%);
$main-border: 1px solid #7189d0;


