$primary-background: #f4f4f4;
$secondary-background: #f8f8ff;
$box-shadow: 0px 0px 10px 3px rgba(49, 84, 153, 0.3);
$header-font-color:#4468B0;
$gradient-white:#F5F4F4;
$gradient-btn: linear-gradient(180deg, $primary-background 48.44%, $gradient-white 100%);
$main-border: 1px solid #898a8f;
$font-light-color: #797a81;
$header-box-shadow: 10px 10px 5px 3px rgba(49, 84, 153, 0.5);
$table-header-background: rgba(211, 212, 237, 0.6)




